
/* Site header */

.gdoc-header { background: #fdcf7e; border-color: #404040; }
.gdoc-header__link, .gdoc-header__link:visited { color: #000000; }

/* Styling hacks to have floating images */

img[src$='#float-right']{
	max-width: 30%;
    padding-left: 1%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
}

img[src$='#float-left'] {
	max-width: 30%;
    padding-right: 1%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
}
